* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  /* outline: 1px solid red; */
}

:root {
  font-size: 16px;
  background-color: #f5f2e8;
}

body {
  display: grid;
  grid-template-columns: minmax(min-content, 1100px);
  justify-content: center;
  overflow: scroll;
}

.page-container {
  height: 100vh;
  padding: 0 10px;

  display: grid;
  grid-template-rows: repeat(4, min-content);
  justify-items: center;
  align-content: center;
}

.title-container {
  font-size: 4rem;
}

.menu-container {
  border-top: 5px solid black;
  border-bottom: 2px solid black;

  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 30px;
  justify-items: center;
  align-items: center;
}

.menu-container,
footer {
  width: 100%;
  justify-self: space-between;
}

form {
  width: 100%;

  display: flex;
  gap: 5px;
  align-items: center;
}

input {
  border: none;
  background-color: lightgray;
  padding: 5px 10px;

  flex: 1;
}

button {
  padding: 2px 3px;
  background-color: transparent;
  border: none;
}

button::before {
  content: url('./images/search.png');
  zoom: 3%;
}

button:hover {
  cursor: pointer;
}

.content-background {
  background-color: black;
  width: 100%;
  margin: 20px 0;
}

.content-container {
  width: 100%;
  border-left: 1px solid black;
  border-right: 1px solid black;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  align-items: center;
  justify-content: center;
  gap: 1px;
}

.day-frame {
  background-color: #f5f2e8;
  padding: 30px;
  text-align: center;

  display: grid;
  row-gap: 15px;
}

.title h3 {
  font-size: 1.5rem;
}

.temp,
.details,
.date {
  font-weight: bold;
}

.temp p:first-child {
  font-size: 3rem;
}

.temp p:last-child {
  font-weight: normal;
  font-size: 1.5rem;
}

.day-frame ::before {
  font-weight: normal;
}

.details {
  display: grid;
  gap: 3px;
}

.details p:first-child::before {
  content: 'precip.: ';
}

.details p:nth-child(2)::before {
  content: 'wind: ';
}

.details p:last-child::before {
  content: 'humidity: ';
}

.img {
  display: flex;
  justify-content: center;
}

img {
  width: 100px;
}

footer {
  border-top: 2px solid black;
  padding-top: 5px;
  font-size: 0.9rem;

  display: flex;
  justify-content: space-between;
}

.credits a {
  color: inherit;
}
